/* NORMALIZE TO 0 */

*{
    padding:0;
    margin:0;
}

/* FONTS & COLORS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/* --space-cadet: #283044ff;
--air-superiority-blue: #78a1bbff;
--mint-cream: #ebf5eeff;
--silver-pink: #bfa89eff;
--cinereous: #8b786dff; */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #78a1bbff;
}

nav, div, p{
    font-family: 'Poppins', sans-serif;
    color: #ebf5eeff;
}

a{
    text-decoration: none;
    color: #ebf5eeff
}

body{
    background-color: #8b786dff;
}

/* HEADER Y FOOTER */

header{
    background-color: #8b786dff;
    width: 100%;
}

.header-container, .footer-container{
    display: flex;
    align-items: center;
    padding: 10px 20px 10px;
    justify-content: space-between;
}

.header-right, .copyright{
    width: auto;
}

.header-left, .socials{
    width: auto;
}

header img{
    height: 48px;
    width: 48px;
}

.nav-bar{
    text-align: right;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: end;
}

ul li{
    list-style-type: none;
    margin: 5px;
}

footer{
    background-color: #8b786dff;
    width: 100%;
}

footer img{
    height: 40px;
    width: 40px;
}

footer p{
    font-size: 14px;
}

.copyright {
    text-align: right;
}

.socials{
    text-align: left;
}

/* BODY */
.main-container{
    align-items: center;
    padding: 10px 20px 10px;
    justify-content: space-between;
}

.flex{
    display: flex;
}

.center{
    align-items: center;
}

.spaced{
    justify-content: space-between;
}

.vh95{
    height: 95vh;
}

.padding-10-20-10{
    padding: 10px 20px 10px;
}

.padding-20px{
    padding: 20px;
}

.padding-50px{
    padding: 50px;
}

.padding-left-5{
    padding-left: 5%;
}

.width-40{
    width: 40%;
}

.padding-top300px{
    padding-top: 300px;
}

.margin-left-20px{
    margin-left: 20px;
}

div, p{
    font-size: 20px;
}
