.padding-10-20-10{
    padding: 1rem 2rem 1rem;
}

.padding-5px{
    padding: 0.5rem;
}

.padding-20px{
    padding: 2rem;
}

.padding-50px{
    padding: 5rem;
}

.padding-left-5{
    padding-left: 5%;
}

.padding-right-30{
    padding-right: 30%;
}

.padding-top300px{
    padding-top: 30rem;
}

.padding-top-5{
    padding-top: 5%;
}

.width-30{
    width: $full-width*0.3;
}

.width-40{
    width: $full-width*0.4;
}

.width-50{
    width: $full-width*0.5;
}

.width-70{
    width: $full-width*0.7;
}

.width-100{
    width: $full-width;
}

.width-auto{
    width: auto;
}

.margin-auto{
    margin: auto;
}

.margin-20px{
    margin: 2rem;
}

.margin-left-20px{
    margin-left: 2rem;
}

.margin-top-20px{
    margin-top: 2rem;
}

.margin-top-5px{
    margin-top: 0.5rem;
}